/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

progress {
  vertical-align: baseline
}

template, [hidden] {
  display: none
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:active, a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b, strong {
  font-weight: inherit
}

b, strong {
  font-weight: bolder
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: 0.67em 0
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

button, input, select, textarea {
  font: inherit;
  margin: 0
}

optgroup {
  font-weight: bold
}

button, input {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

textarea {
  overflow: auto
}

.pt-50 {
  padding-top: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.ml-15 {
  margin-left: 15px;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none
}

[dir="rtl"] .slick-slide {
  float: right
}

.slick-slide img {
  display: block;
  margin: 0 auto;
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

* {
  box-sizing: border-box
}

html, body {
  min-height: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

.body-disabled {
  overflow: hidden
}

.hide {
  display: none !important
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto
}

.container2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto
}

.container-fluid {
  width: 100%;
  max-width: 90%;
  margin: 0 auto
}

.visible-xs {
  display: none
}

.clearfix::after {
  content: "";
  display: table;
  clear: both
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-justify {
  text-align: justify
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.88);
  z-index: 99999;
  display: none;
  overflow: auto
}

.menu-show {
  display: block
}

.menu__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
}

.menu__link {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 60px;
  text-decoration: none;
  color: #fff;
  transition: color .2s;
  margin-bottom: 50px
}

.menu__link:hover {
  color: #ffcd44
}

.menu__socials {
  margin-top: 100px;
  text-align: center
}

.menu__socials__link {
  margin-right: 20px;
  text-decoration: none
}

.menu__socials__link:last-child {
  margin-right: 0
}

.menu__socials__link:hover .menu__socials__link__svg {
  fill: #ffcd44
}

.menu__socials__link__svg {
  transition: fill .2s
}

.header__head {
  position: relative;
  z-index: 999999;
  padding: 0 50px 0 50px;
}

.header__logoBody {
  float: left;
  width: 10%
}

.header__logo {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #fff;
  margin-left: -30px;
  width: 100px;
  margin-top: -30px;
}

.header__logo > img {
  width: 100px;
}

.header__menuBody {
  float: left;
  width: 90%;
  text-align: right
}

.header__menuIcon {
  width: 30px;
  height: 24px;
  display: inline-block;
  margin-right: -30px;
  position: relative
}

.header__menuIcon:hover .header__menuIcon__topLine {
  transform: translateY(-2px)
}

.header__menuIcon:hover .header__menuIcon__bottomLine {
  transform: translateY(2px)
}

.header__menuIcon-active .header__menuIcon__midleLine {
  display: none
}

.header__menuIcon-active .header__menuIcon__topLine {
  transform: rotate(-45deg);
  position: absolute;
  top: 7px;
  left: 0
}

.header__menuIcon-active .header__menuIcon__bottomLine {
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
  left: 0
}

.header__menuIcon-active:hover .header__menuIcon__topLine {
  transform: rotate(-45deg);
  background: #969799
}

.header__menuIcon-active:hover .header__menuIcon__bottomLine {
  transform: rotate(45deg);
  background: #969799
}

.header__menuIcon__topLine, .header__menuIcon__midleLine, .header__menuIcon__bottomLine {
  width: 100%;
  height: 2px;
  margin-bottom: 6px;
  background: #fff;
  display: block;
  transition: transform .3s, background .2s
}

.nav__button {
  display: inline-block;
  /* margin-top: 40px; */
  line-height: 45px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #a8d356;
  border-radius: 4px;
  border:2px solid #a8d356;
  padding: 0 20px;
  transition: color .2s, background .2s;
}

.nav__button:hover {
  background-color: #212121;
  border-color: #212121;
  color: #a8d356
}

.header__button {
  display: inline-block;
  /* margin-top: 40px; */
  line-height: 45px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #212121;
  border-radius: 100px;
  background-color: #ffcd44;
  padding: 0 30px;
  transition: color .2s, background .2s;
}

.header__button:hover {
  background: #fff;
  color: #000
}

.header__button-black {
  color: #fff;
  background: #000
}

.header__button-black:hover {
  color: #000;
  background: #fff
}

.header__button .svg-icon-ios,
.nav__button .svg-icon-ios {
  transform: translate(0, 3px);
  margin-right: 5px;
}

.header__button .svg-icon-android,
.nav__button .svg-icon-android {
  transform: translate(0, 5px);
  margin-right: 5px;
}

.header__link {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-decoration: none;
  margin-right: 20px;
  transition: color .2s
}

.header__link:last-child {
  /*margin-right: -30px*/
}

.header__link:hover {
  color: #ffcd44
}

.header1 {
  overflow: hidden;
  /*background: #0092cf;*/
  background: rgba(0,145,207,1);
  background: -moz-linear-gradient(top, rgba(0,145,207,1) 0%, rgba(45,182,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,145,207,1)), color-stop(100%, rgba(45,182,237,1)));
  background: -webkit-linear-gradient(top, rgba(0,145,207,1) 0%, rgba(45,182,237,1) 100%);
  background: -o-linear-gradient(top, rgba(0,145,207,1) 0%, rgba(45,182,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,145,207,1) 0%, rgba(45,182,237,1) 100%);
  background: linear-gradient(to bottom, rgba(0,145,207,1) 0%, rgba(45,182,237,1) 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091cf', endColorstr='#2db6ed', GradientType=0 );*/
  padding-top: 60px;
  padding-bottom: 90px
}

.header1__header {
  font-family: 'Lato', sans-serif;
  font-size: 42px;
  color: #fff;
  margin: 90px 0 0px 0;
  font-weight: 300;
}

.header1__text {
  margin: 20px 0 80px 0;
  line-height: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #dde1e5;
  letter-spacing: .5px;
}

.header1__icon {
  margin-top: 56px;
  max-width: 50px;
  max-height: 50px;
  display: inline-block
}

.header1__items {
  margin-top: 115px
}

.header1__item {
  float: left;
  width: 25%;
  display: block;
  padding-left: 50px;
  outline: none
}

.img__container {
  height: 240px;
}

.header1__item__icon {
  max-width: 50px;
  max-height: 50px
}

.header1__item__name {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
  max-width: 320px;
  margin: 25px 0 10px 0
}

.header1__item__text {
  opacity: 0.7;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #fff;
  max-width: 220px;
  margin: 0;
  font-weight: 300;
  line-height: 20px;
}

.newsletter{
  overflow: hidden;
  background: #a8d356;
  padding-top: 60px;
  padding-bottom: 90px;
  margin: 0 auto;
  text-align: center;
}

.newsletter__center {
  width: 80%;
  margin-top: 80px;
  margin: 0 auto;
  text-align: center;
}

.newsletter__header {
  margin: 30px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #414141;
  padding-bottom: 30px;
}

.newsletter__form {
  position: relative;
  max-width: 360px;
  font-family: 'Lato', sans-serif;
  margin-top: 70px;
  margin: 0 auto;
}

.newsletter__form__input {
  border: none;
  line-height: 60px;
  width: 100%;
  border-radius: 8px;
  background: #8ab140;
  outline: none;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #fff;
  padding: 0 20px;
}

.newsletter__form__button {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: color .2s
}

.newsletter__form__button:hover {
  color: #ffcd44
}

.header2 {
  overflow: hidden;
  background: #0092cf;
  padding-top: 60px;
  padding-bottom: 105px
}

.header2__contentLeft {
  float: left;
  width: 60%;
  margin-top: 80px
}

.header2__contentRight {
  float: left;
  width: 40%;
  margin-top: 80px
}

.header2__header {
  margin: 30px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  max-width: 555px
}
.header2__text {
  margin: 20px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #dde1e5;
  max-width: 555px;
  letter-spacing: .5px;
}

.header2__form {
  position: relative;
  max-width: 360px;
  font-family: 'Lato', sans-serif;
  margin-top: 70px
}

.header2__form__input {
  border: none;
  line-height: 60px;
  width: 100%;
  border-radius: 8px;
  background: #5562e7;
  outline: none;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #fff;
  padding: 0 20px
}

.header2__form__button {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: color .2s
}

.header2__form__button:hover {
  color: #ffcd44
}

.header2__imgBody {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.header2__imgBody__link {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-right: 30px;
  margin-top: 30px
}

.header2__imgBody__link::before, .header2__imgBody__link::after {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: transform .2s
}

.header2__imgBody__link::before {
  width: 18px;
  height: 1px;
  background: #fff;
  right: 0;
  top: 10px
}

.header2__imgBody__link::after {
  width: 5px;
  height: 5px;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  transform: rotate(-45deg);
  right: 0;
  top: 8px
}

.header2__imgBody__link:hover::after {
  transform: translateX(5px) rotate(-45deg)
}

.header2__imgBody__link:hover::before {
  transform: translateX(5px)
}

.header2__img {
  width: 100%
}

.content5 {
  background: #0092cf;
  padding-bottom: 80px;
}

.content5__header {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-weight: 300;
}

.content5__text {
  text-align: center;
  font-size: 19px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.54);
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  width: 100%;
  max-width: 628px;
  margin: 20px auto
}

.content1 {
  background: #0092cf;
  /*padding-top: 120px;*/
  padding-bottom: 80px;
  position: relative
}

.content1::before {
  display: block;
  color: #121213;
  text-shadow: 0 15px 34px #000000;
  font-size: 240px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 0;
  overflow: hidden
}

.content1 .container {
  position: relative;
  z-index: 2
}

.content1__header {
  font-family: 'Lora', serif;
  font-size: 60px;
  text-align: center;
  color: #f5f5f5;
  width: 100%;
  max-width: 628px;
  margin: 0 auto
}

.content1__text {
  color: #9a9da2;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Lato', sans-serif;
  width: 100%;
  max-width: 628px;
  margin: 20px auto;
  text-align: center
}

.content1__item {
  float: left;
  width: 25%;
  display: block;
  min-height: 1px;
  margin: 90px 0 50px 0
}

.content1__name {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.content1__name > img {
  width: 100%;
  padding: 10px;
}

.content1__textSmall {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fff;
  opacity: .7;
  /* max-width: 220px; */
  margin: 0 10px 0 10px;
  text-align: center;
  line-height: 20px;
  max-height: 100px;
  overflow: hidden;
  font-weight: 300;
}

.content1-light {
  background: #fff
}

.content1-light::before {
  font-size: 190px;
  text-shadow: 0 40px 34px rgba(0, 0, 0, 0.02);
  color: #fff
}

.content1-light .content1__item {
  margin-top: 70px
}

.content1-light .content1__header {
  color: #131313
}

.content1-light .content1__text {
  color: #74767f
}

.content1-light .content1__name {
  /*color: #51575c;
  font-size: 22px*/
}

.content1-light .content1__textSmall {
  /*font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  max-width: 280px;
  color: #1e242d*/
}

.content3 {
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #0092cf;
}

.content3__miniHeader {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.9px;
  text-align: center;
  color: #c6c8cf;
  margin-bottom: 10px;
  text-transform: uppercase
}

.content3__header {
  /*color: #1a1b1e;
  text-align: center;
  font-size: 40px;
  font-family: 'Lora', serif*/
  color: #fff;
  text-align: center;
  font-size: 40px;
  /* color: #0092cf; */
  /* font-size: 30px; */
  font-family: 'Lato', sans-serif;
  margin: 0;
  /* text-transform: uppercase; */
   font-weight: 300;
  margin-top: 30px;
  /* letter-spacing: 4px; */
}

.content3__imgBody {
  display: inline-block;
  margin: 50px auto 40px auto;
  position: relative
}

.content3__img {
  display: block;
  max-width: 800px;
  max-height: 500px;
  margin: 0 auto
}

.content3__item {
  float: left;
  width: 33.33333333333333%;
  margin: 60px 0;
  padding-left: 50px;
  outline: none
}
.content3__item img {
  margin: 0 auto;
}

.content3__name {
  font-family: 'Lato', sans-serif;
  font-size: 11px;
  letter-spacing: 2px;
  color: #fff;
  margin-top: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.content3__text {
  /*opacity: 0.7;*/
  border-radius: 8px;
  background: #fff;
  padding: 15px 20px 15px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #454545;
  width: 100%;
  line-height: 23px;
  overflow: hidden;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  width: 80px;
  border: 2px solid #fff;
}

.content3__icon2__svg {
  transition: fill .2s
}

.content3__icon2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.content3__icon2:hover .content3__icon2__svg {
  fill: #6573ff
}

.content2 {
  padding: 120px 0
}

.content2__name {
  float: left;
  width: 50%;
  text-align: center;
}

.content2__center {
  /*float: left;*/
  width: 90%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.content2__info {
  float: left;
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.content2__info2 {
  margin: 0 auto;
  width: 50%;
}

.content2__info3 {
  margin: 0 auto;
  width: 65%;
}

.content2__item {
  margin-bottom: 40px
}

.content2__header {
  color: #0092cf;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-weight: 300;
  margin-top: 30px;
  /*max-width: 337px*/
}

.content2__header2 {
  color: #0092cf;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-weight: 400;
  margin-top: 30px;
  /*max-width: 337px*/
}

.content2__text {
  font-size: 19px;
  line-height: 28px;
  color: #444;
  font-family: 'Lato', sans-serif;
  margin: 0;
  margin-bottom: 40px;
  /*padding-left: 20px*/
  padding-top: 20px;
}

.content2__text2 {
  font-size: 19px;
  line-height: 28px;
  color: #444;
  font-family: 'Lato', sans-serif;
  margin: 0;
  margin-bottom: 40px;
  /*padding-left: 20px*/
  padding-top: 20px;
  text-align:center;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
  margin: 10px 0px;
  padding: 15px 25px;

}
.isa_success {
  color: #DC3737;
  /*background-color: #e8f7ed;*/
  border: 2px solid #DC3737;
  border-radius: 8px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
}

.content2__img {
  max-width: 100%;
  display: block
}

.content2__imgBody {
  display: inline-block;
  position: relative;
  margin: 40px auto 0 auto
}

.content2__icon {
  position: absolute;
  left: 40px;
  top: 40px
}

.content2__icon__svg {
  transition: fill .2s
}

.content2__icon:hover .content2__icon__svg {
  fill: #6573ff
}

.content4 {
  padding: 120px 0
}

.content4__imgBody {
  float: left;
  width: 57%
}

.content4__img {
  display: block;
  max-width: 100%;
  margin: 20px auto
}

.content4__info {
  float: left;
  width: 43%;
  padding-left: 70px
}

.content4__item {
  padding-left: 50px;
  position: relative
}

.content4__item-bordered {
  border-left: solid 1px #dde1e5;
  padding-bottom: 60px
}

.content4__header {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  margin: 0;
}

.content4__text {
  opacity: 0.6;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #74767f;
  max-width: 250px;
  margin: 10px 0 0 0
}

.content4__desc {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  width: 20px;
  line-height: 20px;
  background-color: #0092cf;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  left: -10px;
  top: 0
}

.contact {
  padding-top: 120px;
  padding-bottom: 140px;
  font-family: 'Lato', sans-serif;
  background-color: #2e2f3c;
}

.contact__header {
  text-align: center;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  margin: 0;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact__text {
  text-align: center;
  max-width: 640px;
  margin: 0 auto 80px auto;
  font-size: 22px;
  color: #fff;
  font-weight: 300;
}

.contact__form {
  display: block;
  max-width: 720px;
  margin: 0 auto;
  text-align: center
}

.contact__form__input {
  outline: none;
  line-height: 60px;
  background: #fff;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 300;
  color: #525458;
  border: solid 1px #fff;
  display: block;
  border-radius: 4px;
  width: 100%
}

.contact__form__inputs {
  margin-bottom: 20px
}

.contact__form__col {
  float: left;
  width: 50%
}

.contact__form__col-right {
  padding-left: 10px
}

.contact__form__col-left {
  padding-right: 10px
}

.contact__buttonV1 {
  font-size: 13px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  line-height: 48px;
  background: #a8d356;
  border: solid 1px #a8d356;
  border-radius: 100px;
  min-width: 180px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 80px;
  transition: background .2s
}

.contact__buttonV1:hover {
  background: #fff;
  color: #212121;
}

.contact__buttonV1-transparent {
  background: none
}

.contact__buttonV1-transparent:hover {
  background: #ffcd44
}

.contact__headerV2 {
  font-size: 60px;
  color: #a8d356;
  max-width: 628px;
  margin: 100px auto 0 auto
}

.footer {
  background: #f7f7f7;
  padding: 60px 0
}

.footer__item {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #95a8b2;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .2s
}

.footer__item-borderRight {
  border-right: solid 1px #c4cbd3
}

.footer__item:hover {
  color: #ffcd44
}

.footer-light {
  background: #fff
}

.footer1 {
  background: #000203;
  padding: 60px 0
}

.footer-white {
  background: #fff
}

.footer1 .menu__socials {
  margin: 0
}

@media (min-width: 769px) and (max-width: 1050px) {
  .header__link {
    margin-left: 30px
  }
  .header2 .container {
    padding: 0 15px
  }
  .content1 .container {
    padding: 0 15px
  }
  .content2 .container {
    padding: 0 15px
  }
  .contact .container {
    padding: 0 15px
  }
}

@media (max-width: 769px) {
  .hidden-xs {
    display: none !important
  }
  .visible-xs {
    display: block
  }
  .header__logo {
    position: absolute;
    left: 50%;
    top: 0
  }
  .header__menuIcon {
    position: absolute;
    left: 0;
    top: 0
  }
  .header__head-active {
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 40px
  }
  .header__head-active .header__logo {
    left: 50%;
    top: 10px
  }
  .header__head-active .header__menuIcon {
    left: 15px;
    top: 10px
  }
  .menu__link {
    font-size: 30px;
    min-width: 300px;
    margin-bottom: 30px
  }
  .menu__socials {
    margin-top: 70px
  }
  .menu__socials__link {
    margin-right: 30px
  }
  .header1__item {
    text-align: center;
    padding: 0
  }
  .header1__item__icon {
    margin: 0 auto
  }
  .header1__item__name {
    margin: 25px auto 10px auto
  }
  .header1__item__text {
    margin: 0 auto
  }
  .header1 .slick-dots {
    list-style: none;
    text-align: center;
    padding: 0
  }
  .header1 .slick-dots li {
    display: inline-block
  }
  .header1 .slick-dots button {
    border: none;
    background: #fff;
    width: 50px;
    height: 3px;
    opacity: .3;
    line-height: 0;
    font-size: 0px;
    outline: none
  }
  .header1 .slick-dots button:hover {
    opacity: 1;
    cursor: pointer
  }
  .header1 .slick-active button {
    opacity: 1
  }
  .header2 .container {
    padding: 0 15px
  }
  .header2__contentLeft {
    width: 100%
  }
  .header2__header {
    margin: 90px auto 0 auto;
    text-align: center
  }
  .header2__text {
    margin: 90px auto 0 auto;
    text-align: center
  }
  .header2__form {
    margin: 70px auto 0 auto
  }
  .content5 {
    padding: 80px 0
  }
  .content5 .container {
    padding: 0 15px
  }
  .content1::before {
    display: none
  }
  .content1__item {
    width: 100%;
    text-align: center;
    margin: 30px 0
  }
  .content1__textSmall {
    margin: 0 auto
  }
  .content1__header {
    font-size: 32px
  }
  .content1-light .content1__item {
    margin-top: 30px
  }
  .content1 .container {
    padding: 0 15px
  }
  .content3 .container {
    padding: 0 15px
  }
  .content3__header {
    font-size: 30px
  }
  .content3__item {
    outline: none;
    padding: 0
  }
  .content3__icon {
    margin: 0 auto
  }
  .content3__name {
    text-align: center
  }
  .content3__text {
    margin: 0 auto;
    text-align: center
  }
  .content3__img {
    max-width: 90%
  }
  .content3 .slick-dots {
    list-style: none;
    text-align: center;
    padding: 0
  }
  .content3 .slick-dots li {
    display: inline-block
  }
  .content3 .slick-dots button {
    border: none;
    background: #52545d;
    width: 50px;
    height: 3px;
    opacity: .3;
    line-height: 0;
    font-size: 0px;
    outline: none
  }
  .content3 .slick-dots button:hover {
    opacity: 1;
    cursor: pointer
  }
  .content3 .slick-active button {
    opacity: 1
  }
  .content2 .container {
    padding: 0 15px
  }
  .content2__name {
    float: none;
    width: 100%;
    text-align: center
  }
  .content2__info {
    float: none;
    width: 100%;
    text-align: center
  }
  .content2__header {
    max-width: none;
    margin-bottom: 40px
  }
  .content2__text {
    padding: 0
  }
  .content4__imgBody {
    float: none;
    width: 100%
  }
  .content4__info {
    float: none;
    width: 100%
  }
  .contact .container {
    padding: 0 15px
  }
  .contact__headerV2 {
    font-size: 40px
  }
  .footer__item {
    width: 50%;
    margin-top: 20px
  }
  .footer__item-borderRight {
    border-right: none
  }
}

@media (min-width: 770px) {
  .menu-onlyMobile {
    display: none !important
  }
}

@media (max-width: 450px) {
  .header1__header {
    padding: 50px 15px;
    font-size: 30px
  }
  .content1__item {
    width: 100%;
    text-align: left
  }
  .content1__textSmall {
    margin: 0
  }
  .content4__info {
    padding-left: 30px
  }
  .content3__item {
    padding: 0 15px;
    text-align: left
  }
  .content3__text {
    margin: 0
  }
  .content3__name {
    text-align: center
  }
  .content3__text {
    text-align: left
  }
  .content3__icon {
    margin: 0
  }
  .menu__link {
    font-size: 25px;
    min-width: 300px;
    margin-bottom: 20px
  }
}


/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
input.qa {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: block;
  cursor: pointer;
  margin-bottom: 20px;

  color: #0092cf;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  color: #444;
  border-radius: 4px;

  -webkit-transition: max-height .35s;
  transition: max-height .35s;

  font-size: 19px;
  line-height: 28px;
  font-family: 'Lato', sans-serif;
  border-bottom: 1px solid #f1f1f1;

}
.tab-content p {
  padding:0;
}
/* :checked */
input.qa:checked ~ .tab-content {
  max-height: 50em;
}
