<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><link type="text/css" rel="stylesheet" href="resources/sheet.css" >
<style type="text/css">.ritz .waffle a { color: inherit; }.ritz .waffle .s0{background-color:#ffffff;text-align:left;font-weight:bold;color:#000000;font-family:'Arial';font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:2px 3px 2px 3px;}.ritz .waffle .s1{background-color:#ffffff;text-align:left;color:#000000;font-family:'Arial';font-size:10pt;vertical-align:bottom;white-space:nowrap;direction:ltr;padding:2px 3px 2px 3px;}</style><div class="ritz grid-container" dir="ltr"><table class="waffle" cellspacing="0" cellpadding="0"><thead><tr><th class="row-header freezebar-origin-ltr"></th><th id="1638818894C0" style="width:193px" class="column-headers-background">A</th><th id="1638818894C1" style="width:100px" class="column-headers-background">B</th></tr></thead><tbody><tr style='height:20px;'><th id="1638818894R0" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">1</div></th><td class="s0" dir="ltr">Event</td><td class="s0" dir="ltr">Params</td></tr><tr style='height:20px;'><th id="1638818894R1" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">2</div></th><td class="s1" dir="ltr">join</td><td class="s1" dir="ltr">trans_id</td></tr><tr style='height:20px;'><th id="1638818894R2" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">3</div></th><td class="s1" dir="ltr">booking_accepted</td><td class="s1" dir="ltr">none</td></tr><tr style='height:20px;'><th id="1638818894R3" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">4</div></th><td class="s1" dir="ltr">booking_imonway</td><td class="s1" dir="ltr">none</td></tr><tr style='height:20px;'><th id="1638818894R4" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">5</div></th><td class="s1" dir="ltr">booking_cancel</td><td class="s1" dir="ltr">none</td></tr><tr style='height:20px;'><th id="1638818894R5" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">6</div></th><td class="s1" dir="ltr">booking_meet</td><td class="s1" dir="ltr">none</td></tr><tr style='height:20px;'><th id="1638818894R6" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">7</div></th><td class="s1" dir="ltr">booking_stop</td><td class="s1" dir="ltr">none</td></tr><tr style='height:20px;'><th id="1638818894R7" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">8</div></th><td class="s1" dir="ltr">booking_end</td><td class="s1" dir="ltr">none</td></tr><tr style='height:20px;'><th id="1638818894R8" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">9</div></th><td class="s1" dir="ltr">booking_start</td><td class="s1" dir="ltr">none</td></tr><tr style='height:20px;'><th id="1638818894R9" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">10</div></th><td class="s1" dir="ltr">booking_qr_ther</td><td class="s1" dir="ltr">none</td></tr><tr style='height:20px;'><th id="1638818894R10" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">11</div></th><td class="s1" dir="ltr">booking_qr_client</td><td class="s1" dir="ltr">none</td></tr><tr style='height:20px;'><th id="1638818894R11" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">12</div></th><td class="s1" dir="ltr">booking_imhere</td><td class="s1" dir="ltr">none</td></tr><tr style='height:20px;'><th id="1638818894R12" style="height: 20px;" class="row-headers-background"><div class="row-header-wrapper" style="line-height: 20px;">13</div></th><td class="s1" dir="ltr">booking_dagonpay_success</td><td class="s1" dir="ltr">none</td></tr></tbody></table></div>
<script type='text/javascript' nonce='HnLvJMLo6xJD0ndXAeWGy4/UxC8'>
function posObj(sheet, id, row, col, x, y) {
  var rtl = false;
  var sheetElement = document.getElementById(sheet);
  if (!sheetElement) {
    sheetElement = document.getElementById(sheet + '-grid-container');
  }
  if (sheetElement) {
    rtl = sheetElement.getAttribute('dir') == 'rtl';
  }
  var r = document.getElementById(sheet+'R'+row);
  var c = document.getElementById(sheet+'C'+col);
  if (r && c) {
    var objElement = document.getElementById(id);
    var s = objElement.style;
    var t = y;
    while (r && r != sheetElement) {
      t += r.offsetTop;
      r = r.offsetParent;
    }
    var offsetX = x;
    while (c && c != sheetElement) {
      offsetX += c.offsetLeft;
      c = c.offsetParent;
    }
    if (rtl) {
      offsetX -= objElement.offsetWidth;
    }
    s.left = offsetX + 'px';
    s.top = t + 'px';
    s.display = 'block';
    s.border = '1px solid #000000';
  }
};
function posObjs() {
};
posObjs();</script>
